*{
	padding: 0;
	margin-top: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.container{
	width: 80%;
    height: 30%;
	margin: 0 auto;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0px;
	color: purple;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color:  blueviolet;
	color: #fff;
}
.active{
	background-color:plum;
	color: lavender;
}
.banner{
	height: 60vh;
	background-image: url(lagi.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.container{
	width: 80%;
    height: 30%;
	margin: 0 auto;
}
	.produk{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 35px;
		margin-left: 300px;
	}
	.produk .foto img{
		width: 250px;
		height: 150px;
		border-radius: 10px;
	}
	.p1{
		border: 1px solid black;
		margin:  55px;
	}
	.p2{
		border: 1px solid black;
		margin:  55px;
		margin-top: 15px;
	}

.produkk2 a{
    border: 1px solid rgb(207, 120, 133);
    padding: 10px;
    color: white;
    background: rgb(207, 120, 133);
    text-decoration: none;
    border-radius: 10px;
}
.c1{
    margin-left: 50px;
    margin-bottom:50px;
    margin-top: 60px
}
.c2{
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 80px
}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color:rosybrown ;
}
.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}
.contact{
	background-color: #B3FAE9;
}
footer{
	padding: 30px 0;
	background-color: purple;
	color: antiquewhite;
	text-align: center;
}