*{
	padding: 0;
	margin-top: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.container{
	width: 80%;
    height: 30%;
	margin: 0 auto;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0px;
	color: purple;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color:  blueviolet;
	color: #fff;
}
.active{
	background-color:plum;
	color: lavender;
}
.banner{
	height: 60vh;
	background-image: url(lagi.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid darkseagreen;
}
.form1 {
	padding: 1em;
	margin: 1em auto;
	width: 17em;
	background: #D8BFD8;
	border-radius: 3px;
	text-align: justify;
}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color:rosybrown ;
}
.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}
.contact{
	background-color: #B3FAE9;
}
footer{
	padding: 30px 0;
	background-color: purple;
	color: antiquewhite;
	text-align: center;
}
.medsos{
	display: flex;
	flex: 1;
	color: antiquewhite;
}