*{
	padding: 0;
	margin-top: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.container{
	width: 80%;
    height: 30%;
	margin: 0 auto;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0px;
	color: purple;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color:  blueviolet;
	color: #fff;
}
.active{
	background-color:plum;
	color: lavender;
}
.banner{
	height: max-content;
	background-size: cover;
	position: relative;
    background-color: palevioletred;
	position: relative;
	justify-content: center;
	align-items: center;
}
.foto{
    width: 300px;
    margin right: 30px;
}
.banner h1{
	border: 1px ;
    padding: 10px;
    color: palevioletred;
	background-color: antiquewhite;
    text-decoration: none;
    border-radius: 5px;
}
.p{
	color: #fff;
}
section{
	padding: 50px 0;
	margin-top: 20px;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color:rosybrown ;
}
.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}
.contact{
	background-color: #B3FAE9;
}
footer{
	margin-top: 150px;
	padding: 30px 0;
	background-color: purple;
	color: antiquewhite;
	text-align: center;
}